@import url('https://fonts.googleapis.com/css2?family=Supermercado+One&display=swap');
*{
    background-color: #95d5b2;
    font-family: 'Supermercado One', cursive;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 130px;
    margin-top: 1em;
}

.container img{
    border-radius: 50%;
}

#link{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3em;
}

#link a{
    text-decoration: none;
    font-size: 30px;
    color: #0d1321;
    margin: 0.4em;
    border: 3px solid #0d1321;
    padding: 0.4em 4em 0.4em 4em;
    transition: all 0.3s;
}

#link a:nth-of-type(3){
    padding: 0.4em 4.5em 0.4em 4.5em;
}
#link a:nth-of-type(4){
    padding: 0.4em 4.5em 0.4em 4.5em;
}

#link a:hover{
    transform: translateX(50px);
}
#link a:nth-of-type(2n):hover{
    transform: translateX(-50px);
}

@media (min-width:360px) and (max-width:740px){
    #link{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #link a{
        padding: 0.4em 1em 0.4em 1em;
    }
    #link a:nth-of-type(3){
        padding: 0.4em 1.5em 0.4em 1.5em;
    }
    #link a:nth-of-type(4){
        padding: 0.4em 1.5em 0.4em 1.5em;
    }
    
}